USE [master]
GO
/****** Object:  Database [SolutionsTest]    Script Date: 11/4/2019 2:51:58 PM ******/
CREATE DATABASE [SolutionsTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SolutionsTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SolutionsTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SolutionsTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SolutionsTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SolutionsTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SolutionsTest]
GO
/****** Object:  Table [dbo].[StudentTb]    Script Date: 11/4/2019 2:51:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTb](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Surname] [varchar](50) NULL,
	[StudentNumber] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Mobile] [varchar](15) NULL
) ON [PRIMARY]
GO
USE [master]
GO
